<html>
<head>
<title>每日签到</title>
<meta charset="UTF-8">
</head>
<body>
<div class="sign_date">
      <div id="calendar">
        <p class="choose-month">{{ currentMonth }}月</p>
        <!-- 星期 -->
        <ul class="weekdays">
          <li>日</li>
          <li>一</li>
          <li>二</li>
          <li>三</li>
          <li>四</li>
          <li>五</li>
          <li>六</li>
        </ul>
        <!-- 日期 -->
        <ul class="days">
          <!--  v-show="item.flag==true" 核心 v-for循环 每一次循ke<li>标签创建一天  -->
          <li v-for="(item,index) in days" :key="index">
            <div v-if="item.month != new Date().getMonth()+1" class="other-month">{{ item.day}}</div>
            <div v-else style="position:relative">
              <span v-if="item.day==new Date().getDate()" class="active">今</span>
              <span v-else>{{ item.day }}</span>
              <img v-if="item.flag==true" src="../../assets/my/hasSIgn.png" class="hasCImg" alt />
              <img v-if="item.extraMoney>0" src="../../assets/my/giftImg.png" class="extrImg" alt />
            </div>
            <div>
              <div v-if="item.extraMoney>0&&item.flag==false" class="bigSty">+{{item.totalMoney}}</div>
              <div v-else :class="item.flag==true?'sign_after':'signBef'">
                <span v-if="item.totalMoney>0">+{{item.totalMoney}}</span>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
<script>
export default {
  data() {
    return {
      currentMonth: 1,
      days: [],
      year: "",
      month: "",
    };
  },
  created: function() {

  },

  methods: {
    getDays(Y, M) {
      let day = new Date(Y, M, 0).getDate();
      return day;
    },
    //得到当前年，这个月的一号是周几
    getWeek(Y, M) {
      let now = new Date();
      now.setFullYear(this.year);
      now.setMonth(this.month - 1);
      now.setDate(1);
      let week = now.getDay();
      return week;
    },
    pushDays() {
      //将这个月多少天加入数组days
      for (let i = 1; i <= this.getDays(this.year, this.month); i++) {
        this.days.push({
          year: this.year,
          month: this.month,
          day: i
        });
        //console.log(this.days)
      }
      // //将下个月要显示的天数加入days
      // for (
      //   let i = 1;
      //   i <=
      //   42 -
      //     this.getDays(this.year, this.month) -
      //     this.getWeek(this.year, this.month);
      //   i++
      // ) {
      //   this.days.push({
      //     year: this.year,
      //     month: this.month + 1,
      //     day: i
      //   });
      // }
      // //将上个月要显示的天数加入days
      for (let i = 0; i < this.getWeek(this.year, this.month); i++) {
        var lastMonthDays = this.getDays(this.year, this.month - 1);
        this.days.unshift({
          year: this.year,
          month: this.month - 1,
          day: lastMonthDays - i
        });
      }
      // //console.log(this.days);
      // //console.log(this.getWeek(this.year, this.month));
    },

 
  
    // 返回 类似 2016-01-02 格式的字符串
    formatDate(year, month, day) {
      var y = year;
      var m = month;
      if (m < 10) {
        m = "0" + m;
      }
      var d = day;
      if (d < 10) {
        d = "0" + d;
      }
      return y + "-" + m + "-" + d;
    },
    getDate() {
      let now = new Date();
      this.year = now.getFullYear();
      this.month = now.getMonth() + 1;
      this.pushDays();
    }
  },
  mounted() {
    this.getDate();
    switch (new Date().getMonth() + 1) {
      case 1:
        this.currentMonth = "一";
        break;
      case 2:
        this.currentMonth = "二";
        break;
      case 3:
        this.currentMonth = "三";
        break;
      case 4:
        this.currentMonth = "四";
        break;
      case 5:
        this.currentMonth = "五";
        break;
      case 6:
        this.currentMonth = "六";
        break;
      case 7:
        this.currentMonth = "七";
        break;
      case 8:
        this.currentMonth = "八";
        break;
      case 9:
        this.currentMonth = "九";
        break;
      case 10:
        this.currentMonth = "十";
        break;
      case 11:
        this.currentMonth = "十一";
        break;
      case 12:
        this.currentMonth = "十二";
        break;
    }
  }
};
</script>
</div>
</body>
</html>
